@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  /* Typography */
  --family: 'Manrope', sans-serif;
  --fs-xs: 12px;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 20px;
  --fs-xxl: 40px;
  --fw-light: 400;
  --fw-normal: 500;
  --fw-bold: 600;

  /* Other */
  --radius-sm: 8px;
  --radius-md: 14px;
  --radius-lg: 24px;
  --radius-xl: 35px;

  /* Colors */
  --white: #ffffff;
  --accent: #4e4f63;
  /* #878590 */
  --accent-hover: #fbad05;
  /* #f9c341; */
  --colors-bg-overlay: rgba(18, 20, 23, 0.5);

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --shadow: rgba(150, 158, 166, 0.2) 0px 8px 24px;
}
body {
  font-family: var(--family);
  --colors-text: #121417;
}

input,
textarea,
select,
button {
  font: inherit;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
  padding: 0;
}
